<div class="container">
  <!-- Menu a la hora de hacer scroll -->
  <div class="menu-scroll" id="menu-s">
    <img src="../assets/images/logo-scroll.png">
    <ul>
      <li>Descarga nuestra app gratis:</li>
      <li><a href=""><img src="../assets/images/apple.png"></a></li>
      <li><a href=""><img src="../assets/images/android.png"></a></li>
    </ul>
  </div>
  <!-- header -->
  <div class="menu-desktop">
  <!-- menu en escritorio -->
    <div class="menu">
      <img src="../assets/images/logo-hed.png">
      <ul>
        <li>
          <svg class="hid-sm" width=200 height=60  ng-click="gotoAnchor(0)">
            <defs>
              <linearGradient id="grad2" x1="25%" y1="40%" x2="50%" y2="50%" >
                <stop offset="0" stop-color="#3228B1"/>
                <stop offset="1" stop-color="#57A2FC"/>
              </linearGradient>
            </defs>
            <text x=40 y=35 font-size="18px" font-family="helvetica">Características</text>
            <rect x=2 y=1 rx=10 ry=10 width=197 height=54 fill="none" stroke="url(#grad2)" stroke-width=2 />  
          </svg>
          <!-- este se muestra en responsive -->
          <svg class="hid-lg show-sm" width=133 height=50 ng-click="gotoAnchor(0)">
            <defs>
              <linearGradient id="grad2" x1="25%" y1="40%" x2="50%" y2="50%" >
                <stop offset="0" stop-color="#3228B1"/>
                <stop offset="1" stop-color="#57A2FC"/>
              </linearGradient>
            </defs>
            <text x=13 y=30 font-size="16px" font-family="helvetica">Características</text>
            <rect x=2 y=1 rx=5 ry=5 width=130 height=45 fill="none" stroke="url(#grad2)" stroke-width=2 />     
          </svg>
        </li>
        <li>
          <svg class="hid-sm" width=200 height=60 ng-click="gotoAnchor(1)">
            <defs>
              <linearGradient id="grad2" x1="25%" y1="40%" x2="50%" y2="50%" >
                <stop offset="0" stop-color="#3228B1"/>
                <stop offset="1" stop-color="#57A2FC"/>
              </linearGradient>
            </defs>
            <text x=65 y=35 font-size="18px" font-family="helvetica">Contacto</text>
            <rect x=2 y=1 rx=10 ry=10 width=197 height=54 fill="none" stroke="url(#grad2)" stroke-width=2 />
          </svg>
          <!-- este se muestra en responsive -->
          <svg class="hid-lg show-sm" width=133 height=50 ng-click="gotoAnchor(1)">
            <defs>
              <linearGradient id="grad2" x1="25%" y1="40%" x2="50%" y2="50%" >
                <stop offset="0" stop-color="#3228B1"/>
                <stop offset="1" stop-color="#57A2FC"/>
              </linearGradient>
            </defs>
            <text x=33 y=30 font-size="16px" font-family="helvetica">Contacto</text>
            <rect x=2 y=1 rx=5 ry=5 width=130 height=45 fill="none" stroke="url(#grad2)" stroke-width=2 />     
          </svg>
        </li>
      </ul>
    </div>
    <!-- sección de información del producto -->
    <div class="header">
      <div class="informacion">
        <div id="maquina">
          <mark id="cmaquina"></mark>
        </div>
        <br class="hid-sm"><br class="hid-sm"><br class="hid-sm">
        <p>
          <small><b>Modelo:</b> ELGA G5 RF+BLE</small><br>
          Precio de Lanzamiento:<br>
          <big>$2,480 MXN</big>
        </p>
        <div class="images-hed hid-sm">
          <div class="logos-hed">
            <img src="../assets/images/R.png">
            <img src="../assets/images/gas.png">
          </div>
          <span>Descarga nuestra app gratis:</span>
          <div>
            <img src="../assets/images/apple.png">
            <img src="../assets/images/android.png">
          </div>
        </div>
      </div>
      <div class="down hid-sm">
        <img class="hid-sm" src="../assets/images/down.png">
      </div>
      <div class="celular">
        <div class="info-cel">
          <p><b>Próximamente en el <br>mercado</b></p>
            <p>Todo lo que necesitas<br>para controlar tu servicio<br>de tanques estacionarios<br>en tu bolsillo</p>
            <div class="circulo">
              <svg width=300 height=300>
                <defs>
                  <linearGradient id="grad1"
                      x1="0%" y1="0%" x2="100%" y2="100%">
                      <stop offset="0" stop-color="#5700E5"/>
                      <stop offset="1" stop-color="#C485FA"/>
                  </linearGradient>
                  <linearGradient id="grad2" x1="25%" y1="40%" x2="50%" y2="50%" >
                      <stop offset="0" stop-color="#3228B1"/>
                      <stop offset="1" stop-color="#57A2FC"/>
                  </linearGradient>
                </defs>
                <circle cx=155 cy=155 r=120 stroke-width="5"  stroke="url(#grad1)" fill="none"/>
                <text x=90 y=165 font-size="70px" font-family="arial">25%</text>
                <text x=95 y=190 font-size="24px" font-family="arial">de uso total</text>
                <path class="uno"  d="M 34 165 C 26 30  148 35 155 35 M 30 10 z" stroke="url(#grad2)" stroke-width=25 fill="none"/>
              </svg>
            </div>
          </div>
        </div>
        <div class="images-hed hid-lg show-sm">
          <span>Descarga nuestra app gratis:</span>
          <div>
            <img src="../assets/images/apple.png">
            <img src="../assets/images/android.png">
          </div>
        </div>
        
      <div class="menu-lateral hid-sm">
        <span ng-click="gotoAnchor(0)" title="Beneficios"></span>
        <span ng-click="gotoAnchor(1)" title="Contáctanos"></span>
        <span ng-click="gotoAnchor(2)" title="Siguenos"></span>
      </div>
    </div>
  </div>
  <div class="triangulo01" id="anchor{{0}}"></div>
  <div class="beneficios">
    <div id="dos">
      <h3>Fácil instalación</h3>
      <img src="../assets/images/instalacion.png">
      <p>El fácil manejo de ELGA G5, su versatilidad y adaptabilidad a ser utilizado reduce costos debido a su instalación rápida y simple sin herramientas complejas aprovechando su tecnología.</p>
    </div>
    <div id="tres">
      <h3>Calidad del producto</h3>
      <img src="../assets/images/calidad.png">
      <p>Debido a que estamos comprometidos con satisfacer las expectativas y necesidades de nuestros clientes; trabajamos en brindarle el mejor servicio, con productos seguros y altamente competitivos a escala internacional.<br> <br>
      Ya que nuestros procesos certificados bajo la norma ISO-9000 desde el año 2000 nos permiten alcanzar una alta calidad  y competitividad de nuestros productos.</p>
    </div>
    <div id="cuatro">
      <h3>Certificación NOM-NYCE</h3>
      <img src="../assets/images/certificaciones.png">
      <p>La certificación del producto garantiza  la seguridad de que ELGA G5 cumple con las exigencias marcadas en diferentes normas establecidas a nivel nacional e internacional.</p>
    </div>
    <img class="img-up hid-sm" src="../assets/images/up.png">
  </div>
  <div class="triangulo02"></div>
  <div class="contacto" id="anchor{{1}}">
    <div class="formulario">
      <big>Contáctanos</big>
      <form>
        <p>Nombre</p>
        <input type="text" name="" placeholder="Tu nombre aquí..." ng-model="user.name">
        <p>Correo:</p>
        <input type="text" name="" placeholder="Correo electrónico..." ng-model="user.email">
        <p>Teléfono:</p>
        <input type="text" name="" placeholder="55 1234 5678..." ng-model="user.telephone">
        <p>Comentarios:</p>
        <textarea placeholder="Tus comentarios..." ng-model="user.message"></textarea>
      </form>
      <div class="contact">
        <span>ventas@mirsa.com.mx</span>
        <svg class="hid-sm" width=200 height=60>
         <defs>
           <linearGradient id="grad2" x1="25%" y1="40%" x2="50%" y2="50%" >
             <stop offset="0" stop-color="#3228B1"/>
             <stop offset="1" stop-color="#57A2FC"/>
           </linearGradient>
        </defs>
          <text x=75 y=35 font-size="18px" font-family="helvetica">Enviar</text>
        <rect x=2 y=1 rx=10 ry=10 width=197 height=54 fill="none" stroke="url(#grad2)" stroke-width=2 />              
      </svg>
      <!-- este se muestra en responsive -->
      <svg class="hid-lg show-sm" width=133 height=50 ng-click="addPost()">
        <defs>
          <linearGradient id="grad2" x1="25%" y1="40%" x2="50%" y2="50%" >
            <stop offset="0" stop-color="#3228B1"/>
            <stop offset="1" stop-color="#57A2FC"/>
          </linearGradient>
        </defs>
        <text x=43 y=30 font-size="16px" font-family="helvetica">Enviar</text>
        <rect x=2 y=1 rx=5 ry=5 width=130 height=45 fill="none" stroke="url(#grad2)" stroke-width=2 />     
      </svg>
      </div>
    </div>
    <div class="border-mapa">
      <div id="bormap">
        <div class="mapa" id="map">
            <iframe  id="player" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7520.907637088324!2d-99.17399299301051!3d19.522120729193613!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3f4bf11bf738a890!2sMedidores+Internacionales+Rochester+S.A+de+C.V.!5e0!3m2!1ses-419!2smx!4v1490994590799" height="400" width="400" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
 <!--  <div class="carousel">
  <h2>Algunos de nuestros clientes</h2>
    <div class="contenedor-carousel">
      <img src="../assets/images/prev.png">
      <img src="../assets/images/logo-foot.png">
      <img src="../assets/images/logo-foot.png">
      <img src="../assets/images/logo-foot.png">
      <img src="../assets/images/logo-foot.png">
      <img src="../assets/images/logo-foot.png">
      <img src="../assets/images/next.png">
    </div>
  </div> -->
  <div class="footer" id="anchor{{2}}">
    <div class="legal">
      <ul class="hid-lg">
        <li class="social"><img class="hid-lg show-sm" src="../assets/images/facebook.png"><img class="hid-lg show-sm" src="../assets/images/instagram.png"></li>
      </ul>
      <ul>
        <li>Políticas de privacidad</li>
        <li class="hid-sm">|</li>
        <li class="hid-lg show-sm">&#65293;</li>
        <li>Términos y condiciones</li>
        <li class="social hid-sm"><img src="../assets/images/facebook.png"><img src="../assets/images/instagram.png"></li>
      </ul>
      <br class="hid-sm">
      <p><small>Calle 26-A no.6, Parque Industrial Vallejo San Pablo Xalpa, Tlalnepantla, Estado de México, C.P. 54170</small></p>
    </div>
    <div class="hid-sm">
      <img src="../assets/images/logo-foot.png">
    </div>
    <div class="app hid-sm">
      <img src="../assets/images/apple.png">
      <img src="../assets/images/android.png">
    </div>
  </div>
</div>
